body{
    background-color:#A9A9A9;
}
.header{
    margin: auto;
    width: 1200px;
    height: 80px;
    z-index:0;   
}
.header1 {
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100px;
    opacity: 0.8;
    box-shadow: 5px 5px 5px black;
    width: 1200px;
    height: 80px;
    position: fixed;
    z-index: 9999;
}
.footer{
    clear: both;
    font-style: italic;
}
.menu {
    font-size: 16pt;
    display: flex;
}
.menu a {
    text-decoration: none;
    text-align: center;
    flex:1;
}
a:hover {
    font-style: italic;
    color: red;
}
#line_block:hover {
    box-shadow: 1px 1px 1px black;
}

